body{ 
    background-image:url('img/anh.jpg');
    background-repeat:no-repect;
    background-attachment: fixed;
    background-size: 100% 100%;
    
} 
h1 {
    text-align: center;
    font-family: Time New Romen;
    font-size:80px ;
}
h2 {
    font-family: Time New Romen;
    font-size:60px ;
}
p{
    font-size:40px ;
    font-family: Time New Romen;
}
pre{
    font-size:40px ;
     font-family: Time New Romen;
}
img{
    text-align: center;
}
dl{font-size:40px ;
    font-family: Time New Romen;
}
