body{ 
    background-image:url('img/anh.jpg');
    background-repeat:no-repect;
    background-attachment: fixed;
    background-size: 100% 100%;
    
} 
h1 {
    text-align: center;
    font-family: Time New Romen;
    font-size:350% ;
}
h2 {
    font-family: Time New Romen;
    font-size:250% ;
}
p{
     font-family: Time New Romen;
     font-size:150% ;
}
pre{
     <br><br>
}
img{
    text-align: center;
}
dl{
    font-family: Time New Romen;
     font-size:150% ;
}
